:root {
  /* Variables */
  --accent: #2293D1;
  --accent-1: #101920;
  --accent-2: #131D24;
  --accent-3: #0F2C3D;
  --accent-4: #043652;
  --accent-5: #0A4362;
  --accent-6: #185172;
  --accent-7: #256389;
  --accent-8: #2D7AA8;
  --accent-10: #0586C3;
  --accent-11: #6FC1F7;
  --accent-12: #C2E6FF;

  --gray: #808080;
  
  --body-min-width: 340px;
  --body-min-height: 100vh;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--accent-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: var(--body-min-width);
  min-height: var(--body-min-height);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent: #2293D1;
    --accent-1: #FAFDFF;
    --accent-2: #F4FAFE;
    --accent-3: #E4F4FF;
    --accent-4: #D2EDFF;
    --accent-5: #C0E4FE;
    --accent-6: #ABD8F8;
    --accent-7: #8EC7EF;
    --accent-8: #5FB1E6;
    --accent-10: #0586C3;
    --accent-11: #0078B5;
    --accent-12: #0F3952;
  }
}
